{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>BUSINESS WORLD ON!</h1>
    <p class="lead">This is a web app to attempt to test the Agresso web service for if a supplier exists in the database</p>
</div>

<form action="{{ url_for('result') }}" method="post">
    <fieldset>
        <div style=font-size:20px; font-weight:bold; margin-left:150px;>
            {{ form.supp_id.label }}
            {{ form.supp_id}}
            {{ form.submit}}
        </div>
    </fieldset>
</form>


{% endblock %}