{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>BUSINESS WORLD ON!</h1>
    <p class="lead">This is the results webpage and your supplier exists result is {{agr}} and supp id you entered was {{sup_submitted}}</p>
</div>

{% endblock %}